
body {
  background-color: #D5E1EF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit, Arial, Helvetica, sans-serif;
}

.card {
  background-color: white;
  border-radius: 0.625rem;
  height: 473px;
  width: 320px;
  padding-top: 1px;
}

.inner-card {
  background-image: url('./images/Ovalbackground.png');
  height: 288px;
  width: 288px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center
}

h1 {
  color: #1f314f;
  max-width: 288px;
  text-align: center;
  margin: 16px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}

p {
  color: gray;
  margin: 16px;
  text-align: center;
  font-size: 15px;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
